<div class="products-container">
  <div class="products-grid" cols="12" rowHeight="24px">
    <!-- Pasek na którym wyświetlimy guzik -->
    <div class="grid-row">
      <div class="products-grid-offset-stretch">

      </div>
      <div class="products-grid-aligned-right">
        <button mat-raised-button mat-icon-button class="product-btn-add" [routerLink]="['form']">

          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <!-- Tutaj umieścimy tabelkę z produktami -->
    <div class="grid-row">
      <div class="products-content-tile">
        <app-all-products-list></app-all-products-list>
      </div>
    </div>
  </div>
</div>
